<?xml version="1.0" encoding="utf-8"?>
<DataType Key="adabf705-37f4-4dd1-9d1a-82a58b608d31" Alias="Footer Properties - Footer Column 1 Content - Markdown editor" Level="1">
  <Info>
    <Name>Footer Properties - Footer Column 1 Content - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>