<?xml version="1.0" encoding="utf-8"?>
<DataType Key="933b6ce9-b7a7-4bf4-afcb-928d39681881" Alias="Portfolio Tile Description" Level="1">
  <Info>
    <Name>Portfolio Tile Description</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "OverlaySize": "small"
}]]></Config>
</DataType>