<?xml version="1.0" encoding="utf-8"?>
<Content Key="be9bd408-c0f4-4fd2-a57a-4edd581af7d2" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-02-17T14:53:03</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="849c442b-29b6-4ce3-b61b-91080047a1d1">Home</Template>
  </Info>
  <Properties>
    <aboutC2AButtonLink>
      <Value><![CDATA[]]></Value>
    </aboutC2AButtonLink>
    <aboutC2AText>
      <Value><![CDATA[Get In Contact]]></Value>
    </aboutC2AText>
    <aboutTextCol1>
      <Value><![CDATA[I have a vast history with programming and a true passion for it and involving it in my professional life. I have been a professional software developer since 2017. Utilizing my skills to create software from scratch is what I do, and working to exceed client expectations is what I stride for! I have worked with many different types of development including game development, mobile]]></Value>
    </aboutTextCol1>
    <aboutTextCol2>
      <Value><![CDATA[app development, web app development, desktop app development, and more. I am most proficient in C# and .NET Technologies including Xamarin, .NET MAUI, WPF, ASP.NET, and Blazor WASM / Server. I also have experience in a wide array of other languages and technologies including Unity, Java, Python, Wordpress, and more.]]></Value>
    </aboutTextCol2>
    <browserTitle>
      <Value><![CDATA[Cody Gordon Developer Portfolio]]></Value>
    </browserTitle>
    <copyright>
      <Value><![CDATA[Cody Gordon - All Rights Reserved]]></Value>
    </copyright>
    <footerColumn1Content>
      <Value><![CDATA[]]></Value>
    </footerColumn1Content>
    <footerColumn1Title>
      <Value><![CDATA[]]></Value>
    </footerColumn1Title>
    <footerColumn2Content>
      <Value><![CDATA[<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/CodyJG10" target="_blank"><i class="fab fa-fw fa-github"></i></a>
<a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/codyjg10/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>]]></Value>
    </footerColumn2Content>
    <footerColumn2Title>
      <Value><![CDATA[Socials]]></Value>
    </footerColumn2Title>
    <footerColumn3Content>
      <Value><![CDATA[]]></Value>
    </footerColumn3Content>
    <footerColumn3Title>
      <Value><![CDATA[]]></Value>
    </footerColumn3Title>
    <siteTitle>
      <Value><![CDATA[CODY GORDON]]></Value>
    </siteTitle>
    <subtitle>
      <Value><![CDATA[Software Developer Entrepreneur]]></Value>
    </subtitle>
    <technologiesTiles>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dda7b5caa6a54d1d9c84526b5298ec3d"
      },
      {
        "contentUdi": "umb://element/1d6be6c3f95147be90b5c15f3e76a184"
      },
      {
        "contentUdi": "umb://element/db334648210048c7acb9f3923a42a61f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/dda7b5caa6a54d1d9c84526b5298ec3d",
      "image": "game.png",
      "imagePicker": "[]",
      "title": "Game Development",
      "description": "I have over 6 years of professional development experience leveraging Unity to create 2D and 3D games. Feel free to check out my <a href=\"https://acepilot10.itch.io/\" target=\"_blank\">Itch.io</a> to see some firsthand!",
      "modalId": "4"
    },
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/1d6be6c3f95147be90b5c15f3e76a184",
      "image": "mobile.png",
      "imagePicker": "[]",
      "title": "Mobile App Development",
      "description": "Starting as a Android developer, I quickly found value in Xamarin, the .NET acquired technology used to develop cross platform mobile apps. Keeping up with the advancements of the world of software, I became proficcient in .NET Maui. \n\nWith these technologies, I can proudly equally beautiful and functional mobile applications for iOS and Android. I am a licensed developer for both of these platforms and have published 5 applications to date. ",
      "modalId": "5"
    },
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/db334648210048c7acb9f3923a42a61f",
      "image": "web.png",
      "imagePicker": "[]",
      "title": "Web Development",
      "description": "I have a vast history developing for web whether it be landing pages, web APIs, microservices, backend systems, and more.\n\nutilizing .NET technologies, I am proficient in technologies such as ASP.NET Core, Blazor WASM, Blazor Server, as well as frameworks like Umbraco (which this website is built in!) ",
      "modalId": "6"
    }
  ],
  "settingsData": []
}]]></Value>
    </technologiesTiles>
    <title>
      <Value><![CDATA[CODY GORDON]]></Value>
    </title>
    <workExperienceTiles>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fcc71c59d221463481592261caa81c72"
      },
      {
        "contentUdi": "umb://element/5dba847010724de990ea0afa8f4c104a"
      },
      {
        "contentUdi": "umb://element/8d2709410e5645b5ab8b58e11e10e728"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/fcc71c59d221463481592261caa81c72",
      "image": "github.png",
      "imagePicker": "[\r\n  {\r\n    \"key\": \"58e346d0-bded-46d1-a705-f04caeba17dd\",\r\n    \"mediaKey\": \"3980faf8-1110-42c9-9117-b2be14bea9a3\"\r\n  }\r\n]",
      "title": "GitHub",
      "description": "I take pride in being highly active in the GitHub community both for personal projects and community projects. Check out my repos to view some of my work, or see the what I've contributed to to others!\n\n<a class=\"btn btn-secondary\" href=\"https://github.com/CodyJG10\" target=\"_blank\">View My Profile</a>",
      "modalId": "1"
    },
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/5dba847010724de990ea0afa8f4c104a",
      "image": "itch.png",
      "imagePicker": "[]",
      "title": "My Games",
      "description": "As an avid gamer growing up, I built the foundation of my software development knowledge building games. Check out some games I've built!\n\n<a class=\"btn btn-secondary\" href=\"https://acepilot10.itch.io/\" target=\"_blank\">View My Games</a>",
      "modalId": "2"
    },
    {
      "contentTypeKey": "9618bf9f-35f5-4b44-b8b3-c359162422ba",
      "udi": "umb://element/8d2709410e5645b5ab8b58e11e10e728",
      "image": "linkedin.png",
      "imagePicker": "[]",
      "title": "Connect With Me",
      "description": "Connect with me and keep up to date with my accomplishments!\n\n<a class=\"btn btn-secondary\" href=\"https://www.linkedin.com/in/codyjg10/\" target=\"_blank\">Connect With Me</a>",
      "modalId": "3"
    }
  ],
  "settingsData": []
}]]></Value>
    </workExperienceTiles>
  </Properties>
</Content>