@using DevPortfolio.Views.Partials.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="page-section bg-primary" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                @(await Html.RenderComponentAsync<ContactFormDisplay>(RenderMode.ServerPrerendered))
            </div>
        </div>
    </div>
</section>