<?xml version="1.0" encoding="utf-8"?>
<Media Key="62b84640-aa1b-493e-8e1f-ca5edf920eec" Alias="Web" Level="4">
  <Info>
    <Parent Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46">portfolio</Parent>
    <Path>/assets/img/portfolio/Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:48:03</CreateDate>
    <NodeName Default="Web" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izdlqyq1/web.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>