<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad6e5aa4-b606-4cf2-b9f9-536b9db3fb26" Alias="assets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-17T14:50:17</CreateDate>
    <NodeName Default="assets" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>