<?xml version="1.0" encoding="utf-8"?>
<Media Key="499aea4c-e562-4202-9949-f2ceacf256d3" Alias="Avataaars" Level="3">
  <Info>
    <Parent Key="1edec3be-7a9b-4a0e-9464-786268b37791">img</Parent>
    <Path>/assets/img/Avataaars</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-02-17T14:50:31</CreateDate>
    <NodeName Default="Avataaars" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pxvjuslc/avataaars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>