<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aca85d6-0409-47af-854a-c490a660e3d2" Alias="Cake" Level="4">
  <Info>
    <Parent Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46">portfolio</Parent>
    <Path>/assets/img/portfolio/Cake</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-17T14:50:31</CreateDate>
    <NodeName Default="Cake" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ccnu0qj/cake.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>