<?xml version="1.0" encoding="utf-8"?>
<Media Key="3980faf8-1110-42c9-9117-b2be14bea9a3" Alias="Game" Level="4">
  <Info>
    <Parent Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46">portfolio</Parent>
    <Path>/assets/img/portfolio/Game</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-17T14:50:31</CreateDate>
    <NodeName Default="Game" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/513iaoiq/game.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>