<?xml version="1.0" encoding="utf-8"?>
<Media Key="30695bd9-81a0-4f96-915e-6c9a2effcf1c" Alias="Github" Level="4">
  <Info>
    <Parent Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46">portfolio</Parent>
    <Path>/assets/img/portfolio/Github</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:48:02</CreateDate>
    <NodeName Default="Github" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/13nhsmfa/github.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>