<?xml version="1.0" encoding="utf-8"?>
<Media Key="1edec3be-7a9b-4a0e-9464-786268b37791" Alias="img" Level="2">
  <Info>
    <Parent Key="ad6e5aa4-b606-4cf2-b9f9-536b9db3fb26">assets</Parent>
    <Path>/assets/img</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-17T14:50:31</CreateDate>
    <NodeName Default="img" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>