<?xml version="1.0" encoding="utf-8"?>
<Media Key="a504b9aa-24cd-47d8-a5ef-d79f6bc505a4" Alias="Linkedin" Level="4">
  <Info>
    <Parent Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46">portfolio</Parent>
    <Path>/assets/img/portfolio/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:48:03</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vs2bjjon/linkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>