<?xml version="1.0" encoding="utf-8"?>
<Media Key="909fa90b-b2af-4afc-adcb-f9acba9a6a46" Alias="portfolio" Level="3">
  <Info>
    <Parent Key="1edec3be-7a9b-4a0e-9464-786268b37791">img</Parent>
    <Path>/assets/img/portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-17T14:50:31</CreateDate>
    <NodeName Default="portfolio" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>