<?xml version="1.0" encoding="utf-8"?>
<Macro Key="391c0fb3-c8fd-43f5-b035-27663a33cee8" Alias="PortfolioTile" Level="0">
  <Name>Portfolio Tile</Name>
  <MacroSource>~/Views/MacroPartials/Portfolio Tile.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Description</Name>
      <Alias>description</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TextArea</EditorAlias>
    </Property>
    <Property>
      <Name>Id</Name>
      <Alias>id</Alias>
      <SortOrder>3</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
    <Property>
      <Name>Image</Name>
      <Alias>image</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Title</Name>
      <Alias>title</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>